{% extends 'base.html' %}

{% block title %}<title>Страница загрузки файла</title>{% endblock %}

{% block content %}
    <h2>Загрузка файла</h2>
	<form method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
		<input type="file" name="document">
		<button type="submit">Загрузить файл</button>
	</form>
	{% if url %}
	    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
	{% endif %}
	<form method="POST" action="../table/">
	    {% csrf_token %}
	    <button type="submit" class="btn btn-primary">Таблица</button>
	</form>
{% endblock %}